/*
--- 01 TYPOGRAPHY SYSTEM

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 COLORS

  Primary: #e67e22

  Tints: #fdf2e9
  Shades: #cf711f
  Accent: 
  Greys: #555, #333


--- 05 SHADOWS

--- 06 BORDER-RADIUS
  Default: 9px

--- 07 WHITESPACE

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/****************************/
/* GENERAL COMPONENTS */
/***************************/
.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 120rem;
}

.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.btn--form {
  align-self: end;
  padding: 1.2rem;
  color: #fdf2e9;
  background-color: #45260a;
}

.btn--form:hover {
  color: #555;
  background-color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
